$cor-fonte-principal: #fff;
$cor-fundo-principal: #24292e;
$cor-fundo-escuro: #1f2428;
$cor-vue: #20c55d;
$cor-spring: #6cb52d;
$cor-vermelho: #f97583;
$cor-moldura: #fff;
$cor-azul: #9ecbff;
$cor-roxa: #af8fec;
$cor-cinza: #cacdd1;
